<!-- top bar -->
<div class="row">
    <div class="codrops-top">
        <span class="left">
            <strong> Book Share </strong>
        </span>
        <span class="right">
            <a href="#">
                <strong>Book Share for students</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <!-- top bar -->

    <!-- top bar -->
    <div class="codrops-top">
        <span class="left">
            <strong>Welcome, {{student}} </strong>
        </span>
        <span></span>
        <span class="right">
            <a href="" ng-click="logout()">
                <strong>Logout</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <!-- top bar -->
</div>

<!-- row start -->
<div class="row">    
    <div class="col-md-3">
        <div id="wrapper">
            <div id="home" class="animate form">
                <h1>DashBoard</h1>
                <p>
                    <input type="button" ng-click="profile()" value="Profile"/>
                    <input type="button" ng-click="history()" value="History"/>
                    <input type="button" ng-click="addBook()" value="Add Book"/>
                    <input type="button" ng-click="myBooks()" value="My Books"/>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <!-- row start -->
        <div class="row">
            <div id="wrapper">
                <div id="search" class="animate">
                    <label for="search" class="youmail" > Search for a book</label>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="search" ng-model="keyval" name="search" placeholder="eg. Title, Author, ISBN etc." />    
                        </div>
                        <div class="col-md-2">
                            <input type="button" ng-click="searchBook()" value="Search" />    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->

        <!-- row start -->
        <div class="row" ui-view>
	
        </div>
    </div>
</div>
<!-- row end -->
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
