<!-- top bar -->
<div class="codrops-top">
    <span class="right">
        <a href="#">
            <strong>Book Share for students*</strong>
        </a>
    </span>
    <div class="clr"></div>
</div>
<!-- top bar -->
<section>
    <div id="container_demo" >
        <!-- hidden anchors  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="register" class="animate form">
            <form  action="mysuperscript.php" autocomplete="on"> 
                <h1> Sign up </h1> 
                <p> 
                    <label for="namesignup" class="youmail" data-icon="e" > Your Name</label>
                    <input id="namesignup" name="namesignup" required="required" type="email" placeholder="Joe Navrtil"/> 
                </p>
                <p> 
                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                </p>
                <p> 
                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p> 
                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p> 
                    <label for="phonesignup" class="youpasswd" data-icon="p">Enter your phone number </label>
                    <input id="phonesignup" name="phonesignup" required="required" type="tel" placeholder="eg. 6047854214"/>
                </p>
                <p> 
                    <label for="universitysignup" class="youpasswd" data-icon="p">Your university name </label>
                    <input id="universitysignup" name="universitysignup" required="required" type="text" placeholder="eg. SJSU"/>
                </p>
                <p class="signin button"> 
                    <input type="submit" value="Sign up"/> 
                </p>
                <p class="change_link">  
                    Already a member ?
                    <a href="#tologin" class="to_register"> Go and log in </a>
                </p>
            </form>
        </div>
    </div>  
</section>
<link rel="stylesheet" type="text/css" href="css/style.css" />