<div id="wrapper-container">
    <div id="dataContainer" class="animate form">
        <label for="conatiner-header" class="youmail" >Available Books</label>
        <div id="result-conatiner">
            <div ng-repeat="group in groups">
                <div class="col-md-4">{{Book Name}}</div>
                <div class="col-md-4">{{Book Author}}</div>
                <div class="col-md-4">{{Book ISBN}}</div>
                <div class="separator"></div>
            </div>
            <!-- END: Outer ngRepeat. -->
        </div>
    </div>
</div>