<style>
    
    #div2 {
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}    

</style>

<div id="wrapper-container">
    <div id="dataContainer" class="animate form">
      <div class="row">
        <div class="col-md-4">
             <img id="bookimage" style="width: 10em; margin-left: -3em; border: solid 1px azure;" src="/images/HFJ.jpg" alt="" class="center-block img-rounded img-responsive">
        </div>
        <div class="col-md-6">
            <div class="container" style="margin-left: -12em">
                <p class="text-left" style="font-size:x-large"><strong>Title: <span>Head First JAVA</span></strong></p>
                <p class="text-left"> 
                    <span class="text-left" style="font-size:medium"><small>Author: <span>Kathy Sierra</span></small></span>
                    <span style="margin-left: 1em; margin-right: 1em">|</span>
                    <span class="text-left" style="font-size:medium; font-style:italic"><small>ISBN: <span>588845556K5745L787</span></small></span>    
                </p>
                <p id="description" class="text-left">
                    <span style="font-size:medium; font-weight: bold"><small>Description: </small></span>
                    <span style="font-size:medium">Learning a complex new language is no easy task especially when its an object-oriented computer programming language like Java. This resource combines puzzles, strong visuals, mysteries, and soul-searching interviews to offer a complete introduction to object-oriented programming and Java.</span>
                </p>
                
            </div>
        </div>
        <div class="col-md-2">
            <div class="row" style="margin-top:2em">
                <div class="col-md-4"><input class="btn btn-primary" type="button" value="Buy"></div>
                <div class="col-md-4"><input class="btn btn-warning" ng-click="Bid()" type="button" value="Bid"></div>
                <div class="col-md-4"><input class="btn btn-success" type="button" value="Rent"></div>
            </div>
        </div>
    </div><!-- row div -->
    
        <div id="seperator" class="divider" style="border: solid 1px rgb(211, 211, 211); margin-top:1em; margin-bottom:1em"></div>
        
         <div class="row">
        <div class="col-md-4">
             <img id="bookimage" style="width: 10em; margin-left: -3em; border: solid 1px azure;" src="/images/book-default.jpg" alt="" class="center-block img-rounded img-responsive">
        </div>
        <div class="col-md-6">
            <div class="container" style="margin-left: -12em">
                <p class="text-left" style="font-size:x-large"><strong>Title: <span>Head First Design Patterns</span></strong></p>
                <p class="text-left"> 
                    <span class="text-left" style="font-size:medium"><small>Author: <span>Kathy Sierra</span></small></span>
                    <span style="margin-left: 1em; margin-right: 1em">|</span>
                    <span class="text-left" style="font-size:medium; font-style:italic"><small>ISBN: <span>58884555a455df445</span></small></span>    
                </p>
                <p id="description" class="text-left">
                    <span style="font-size:medium; font-weight: bold"><small>Description: </small></span>
                    <span style="font-size:medium">Learning a complex new language is no easy task especially when its an object-oriented computer programming language like Java. This resource combines puzzles, strong visuals, mysteries, and soul-searching interviews to offer a complete introduction to object-oriented programming and Java.</span>
                </p>
                
            </div>
        </div>
        <div class="col-md-2">
            <div class="row" style="margin-top:2em">
                <div class="col-md-4"><input class="btn btn-primary" type="button" value="Buy"></div>
                <div class="col-md-4"><input class="btn btn-warning" type="button" value="Bid"></div>
                <div class="col-md-4"><input class="btn btn-success" type="button" value="Rent"></div>
            </div>
        </div>
    </div><!-- row div -->
    </div>
</div>
