<div id="wrapper-container">
    <div id="dataContainer" class="animate form">
        <label for="conatiner-header" class="youmail" >User Profile</label>
        <div id="result-conatiner">
            <div class="row">
            	<div class="col-md-4">
            		<img alt="" src="images/profile.png">
            	</div>
            	<div class="col-md-8">
            		<div class="row">
            			Name : {{student}}
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>